@import "variable.scss", "mixin.scss", "fonts.scss", "header.scss", "nav.scss", "carousel.scss", "section1.scss","section2.scss", "section3.scss", "footer.scss";

*{
  margin: 0;
  padding: 0;
}

.wrapper {
  width: 90.5%;
  margin: 0 auto;
}






