* {
    margin: 0;
    padding:0;
}

form {
    width: 550px;
    margin: auto;
    margin-top: 10%;
    text-align: left;
}

fieldset {
    border-radius: 20px;
}

.tooltip {
    display: none;
    font-style: italic;
    border-radius: 20px;
    border: 1px solid #bd2c34;
    padding: 5px;
    box-shadow: 5px 5px 10px #bd9bb9;
}

label {
    width:70px;
    padding-right: 10px;
    display: inline-block;
    font-style: italic;
}

.inputs {
    margin:20px;
}

button {
    cursor: pointer;
    margin:10px 0;
    display: inline-block;
    padding: 6px 12px;
    outline:none;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    background-color: #11fff5;
    border-radius: 20px;
    border: 1px solid #122525;
    margin-left:35%;
}