*{
    margin: 0;
    padding: 0;
}

.wrapper {
    background-color: #aaffcc;
}

.display {
    width: 64%;
    margin: auto;
    margin-top:100px;
}

#display_number {
    text-align: center;
    font-size: 10em;
    color: #a80000;
    font-weight:bold;
    font-family:Arial;
}

.btn-group {
    margin:0 auto;
    left: 28%;
    width: 42%;
}

.btn {
    width: 30%;
    height: 52px;
}


.splits {
    margin-top: 20px;
    height: 300px;
    width: 100%;
    background: #11983c;
    overflow-y: scroll;
    padding-bottom: 10px;
}


.split {
    font-size: 28px;
    width: 25%;
    font-family: Vani, sans-serif;
    margin: 10px auto;
    color: #fcd105;
}

